.theme-toggle {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 55px;
}

.theme-toggle input {
  display: none;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 999px;
  transition: 0.4s;
  overflow: hidden;

  /* Fondo día */
  background: url("/img/day.png") center/cover no-repeat;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/* Circulito blanco */
.toggle-slider::before {
  content: "";
  position: absolute;
  height: 45px;
  width: 45px;
  left: 5px;
  top: 5px;
  background: white;
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* Cuando está activado (modo oscuro) */
.theme-toggle input:checked + .toggle-slider {
  background: url("/img/night.png") center/cover no-repeat;
}

/* Mover el circulito */
.theme-toggle input:checked + .toggle-slider::before {
  transform: translateX(55px);
}
