/* HERO */
.regprod-hero {
  background: linear-gradient(
      rgba(14,67,131,0.55),
      rgba(14,67,131,0.55)
    ),
    url("../img/denim.jpg") center/cover no-repeat;
  padding: 2rem 0;
  color: #fff;
}

/* BADGE */
.regprod-hero-badge {
  font-size: 0.7rem;
  letter-spacing: 0.2em;
  font-weight: 900;
  
}

.regprod-hero h1 {
  font-size: 2.4rem;
  font-weight: 900;
  margin: 0rem auto;
  position-area: center;
  font-family: 'Montserrat', sans-serif;
}

/* SECTION */
.regprod-section {
  padding: 6rem 0 auto;
}

/* CARD */
.regprod-card {
  max-width: 720px;
  margin: 4rem auto 4rem auto;
  padding: 4rem;
  border-radius: 1.4rem;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(18px);
  box-shadow: 0 40px 80px rgba(0,0,0,0.15);
}

/* TITLES */
.regprod-title {
  font-size: 1.8rem;
  font-weight: 550;
}

.regprod-subtitle {
  color: #555;
  margin-bottom: 2rem;
}

/* LABELS */
.form-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

/* FORM */
.regprod-form .form-control {
  margin-bottom: 2rem;
  padding: 0.85rem 1rem;
  border-radius: 0.6rem;
  max-width: 700px;
  border: 1px solid #ccc;
}

/*BOTONES*/
/* CONTENEDOR */
.regprod-actions {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

/* BOTÓN BASE */
.regprod-btn {
  padding: 0.95rem 1.8rem;
  border-radius: 999px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  color: #fff;

  background: linear-gradient(135deg, #0e4383, #0b2f5f);

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

/* HOVER */
.regprod-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 40px rgba(14,67,131,0.45);
}

/* DARK MODE */
body.dark .regprod-btn {
  background: linear-gradient(135deg, #1f6feb, #0e4383);
}

/* BOTONES */
.regprod-actions .btn {
  padding: 0.95rem 1.6rem;
  border-radius: 999px;
  font-weight: 600;
  text-transform: uppercase;

  background: linear-gradient(135deg, #0e4383, #0b2f5f);
  border: none;
  color: #fff;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background 0.25s ease;
}

.regprod-actions .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 40px rgba(14,67,131,0.45);
}

/* DARK MODE */
body.dark .regprod-actions .btn {
  background: linear-gradient(135deg, #1f6feb, #0e4383);
}


/* DARK MODE */
body.dark .regprod-card {
  background-color: rgba(0, 0, 0, 0.4);  /* Blanco muy tenue */

   /* Difumina el contenido detrás de la caja */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); /* Para navegadores Safari */
   
  /* Borde sutil para resaltar en modo dark */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  color: white; /* Texto claro */
  padding: 20px;
}

body.dark .regprod-subtitle {
  color: #a8a7a7;
}
body.dark .regprod-form .form-control {
  background-color: #1e1e1e; /* Fondo oscuro para inputs */
  border: 1px solid #444; /* Borde más claro */
  color: #e0e0e0; /* Texto claro */
}

