/* HERO */
.regprod-hero {
  background: linear-gradient(
      rgba(14,67,131,0.55),
      rgba(14,67,131,0.55)
    ),
    url("../img/denim.jpg") center/cover no-repeat;
  padding: 2rem 0;
  color: #fff;
}

/* BADGE */
.regprod-hero-badge {
  font-size: 0.7rem;
  letter-spacing: 0.2em;
  font-weight: 900;
  
}

.regprod-hero h1 {
  font-size: 2.4rem;
  font-weight: 900;
  margin: 2rem 0;
  position-area: center;
  font-family: 'Montserrat', sans-serif;
}

/* SECTION */
.regprod-section {
  padding: 5rem 0 9rem;
}

/* CARD */
.regprod-card {
  max-width: 1000px;
  margin: -3.5rem auto 0;
  padding: 4rem;
  border-radius: 1.4rem;
  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(18px);
  box-shadow: 0 40px 80px rgba(0,0,0,0.15);
}

/* TITLES */
.regprod-title {
  font-size: 1.8rem;
  font-weight: 550;
}

.regprod-subtitle {
  color: #555;
  margin-bottom: 2rem;
}

/* LABELS */
.form-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

/* FORM */
.regprod-form .form-control {
  margin-bottom: 2rem;
  padding: 0.85rem 1rem;
  border-radius: 0.6rem;
  max-width: 700px;
  border: 1px solid #ccc;
}

/*BOTONES*/
/*SHADOW EFFECT*/
.shadow-effect {
  border: none;
  color: white; 
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(135deg, #0e4383, #0b2f5f);
  
}

.shadow-effect:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Efecto de sombra al pasar el cursor */
}

.regprod-actions .btn {
  border-radius: 999px;
  padding: 0.75rem 1.6rem;
  font-weight: 600;
}

.registered-only {
  margin-top: 1rem;
}


/* DARK MODE */
body.dark .regprod-card {
  background-color: rgba(0, 0, 0, 0.4);  /* Blanco muy tenue */

   /* Difumina el contenido detrás de la caja */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); /* Para navegadores Safari */
   
  /* Borde sutil para resaltar en modo dark */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  color: white; /* Texto claro */
  padding: 20px;
}

body.dark .regprod-subtitle {
  color: #a8a7a7;
}

