/* TOP BAR (LOOP + PARALLAX) */
.top-bar {
  background: #0e4383;
  color: #ffffff;
  font-size: 0.85rem;
  position: relative;
  /*overflow: hidden;  /* 🔑 clave para que el loop no se salga */
}

.top-bar-track {
  width: 100%;
  overflow: hidden;
}

/* Lista en fila */
.top-bar-loop {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  will-change: transform; /* para mejor rendimiento al animar */
}

/* Items */
.top-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0 3rem;
  font-weight: 500;
   opacity: 0.95;

  /* mix blend mode */
  mix-blend-mode: screen;
}

.top-item i {
  font-size: 0.95rem;
}

/* Dark mode */
body.dark .top-bar {
  background: #0b2f5f;
}

body.dark .top-item {
  opacity: 0.95;
}

/* Mobile */
@media (max-width: 575px) {
  .top-item {
    padding: 0 2rem;
    font-size: 0.8rem;
  }
}
