{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/base.css' %}">
<link rel="stylesheet" href="{% static 'css/pages/perfil.css' %}">
{% endblock %}

{% block content %}

<!-- TOP BAR -->
<div class="top-bar">
  <p>Autentica tu producto original British Denim</p>
</div>

<!-- LOGIN / REGISTER -->
<section class="auth-wrapper">

  <!-- LADO IZQUIERDO -->
  <div class="auth-left">

    <div class="auth-box">

      <!-- LOGIN -->
      <div id="loginForm" class="form-panel active">

        <h2>Iniciar Sesión</h2>

        {% if error %}
          <p style="color:red">{{ error }}</p>
        {% endif %}

        <form method="POST">
          {% csrf_token %}

          <div class="form-group">
            <input type="email" name="email" placeholder="Correo electrónico" required>
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" required>
          </div>

          <button type="submit" class="btn-auth">
            Ingresar
          </button>


        </form>

        <p class="auth-switch">
          ¿No tienes cuenta?
          <a href="#" id="showRegister">Regístrate</a>
        </p>

      </div>

      <!-- REGISTRO -->
      <div id="registerForm" class="form-panel">

        <h2>Crear Cuenta</h2>

        <form method="POST">
          {% csrf_token %}

          <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre" required>
          </div>

          <div class="form-group">
            <input type="email" name="email" placeholder="Correo electrónico" required>
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" required>
          </div>

          <button type="submit" class="btn-auth">
            Registrarse
          </button>

        </form>

        <p class="auth-switch">
          ¿Ya tienes cuenta?
          <a href="#" id="showLogin">Inicia sesión</a>
        </p>

      </div>

    </div>

  </div>


<!-- LADO DERECHO (IMAGEN) -->
<div class="auth-right"
  style="background-image:url('{% static 'img/img19.jpeg' %}')">
</div>

</section>

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/auth.js' %}"></script>

{% endblock %}