*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #0e4383;
}

/* ===== LAYOUT BASE ===== */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* ===== GLOBAL CONTAINER ===== */

.container-main{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding:0 20px;
}

.container-wide{
  width:100%;
  max-width:1400px;
  margin:0 auto;
  padding:0 20px;
}

.container-narrow{
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding:0 20px;
}