/* ===== HEADER ===== */
.main-header{

position:fixed;
top:35px;
left:0;
width:100%;
z-index:1000;

background:rgba(255,255,255,0.08);
backdrop-filter: blur(10px);

transition: all 0.4s ease;

}

.header-inner{

display:flex;
align-items:center;
justify-content:space-between;

padding:18px 0;

}

.logo img{

height:70px;
transition: all 0.3s ease;

}

.main-header.scrolled .logo img {
  height: 55px !important;
}

.main-header.scrolled .logo img{
  height:50px;
}

.logo img{
display:block;
}

.main-nav {
  margin-left: auto;
}

.main-nav ul{

display:flex;
gap:40px;
list-style:none;

}

.main-nav a{
color:rgb(252, 252, 252);
text-decoration:none;
font-weight:500;
letter-spacing:1px;
transition:color .3s ease;

}

.main-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #0e4383;
  transition: width 0.3s ease;
}

.main-nav a:hover::after,
.main-nav a.active::after {
  width: 100%;
}

/* HEADER SCROLL */

.main-header.scrolled{
background:rgb(0, 0, 0);
box-shadow:0 10px 30px rgba(0,0,0,0.08);

}

.main-header.scrolled .main-nav a{
color:#111;

}

.main-header.scrolled .logo img{
height:55px;

}

.main-header.scrolled .main-nav a {
  color: #0e4383;
}

.main-header.scrolled .logo img {
  filter: brightness(0);
}

