.reveal {
opacity: 0;
transform: translateY(30px);
transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.visible {
opacity: 1;
transform: translateY(0);
}

/* ANIMATIONS */

.reveal{
opacity:0;
transform:translateY(30px);
transition:.8s;
}

.reveal.visible{
opacity:1;
transform:translateY(0);
}


.section-title{
text-align:center;
font-size:36px;
margin-bottom:60px;
}