.hero-landing{
position:relative;
height:100vh;
min-height:140vh;
display:flex;
align-items:center;
justify-content:center;
background:url("../../img/hero2.jpeg")center center/cover no-repeat;
overflow:hidden;
animation: zoomHero 15s ease-in-out infinite alternate;
}

/*OVERLAY*/
.hero-landing::before{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,.35);
}

/*CONTENIDO*/
.hero-content{
position:relative;
z-index:2;
color:white;
text-align: center;
max-width:1200px;
}

.hero-landing .container{
position: relative;
z-index: 1;
}

/*TIPOGRAFIA FLUIDA*/
.hero-content h1{
font-size: clamp(2rem, 5vw, 4rem);
font-weight:700;
letter-spacing:-1px;
margin-bottom: 1rem;
line-height: 1.4;
}

.hero-content p {
font-size: clamp(1rem, 2vw, 1.3rem);
margin: 0 auto 1.5rem;
}

.hero-landing{
padding-top: 120px;
}

.btn-hero{
display:inline-block;
padding:14px 40px;
border:1px solid white;
color:white;
text-decoration:none;
transition:all .3s ease;
}

.btn-hero:hover{
background:white;
color:black;

}

.hero-landing { 
padding-top: 100px; /* ajusta según altura real del header */ 
}

/* INTRO */

.intro-section{
padding:100px 8%;
background:#ffffff;
}

.intro-container{
display:flex;
align-items:center;
gap:60px;
max-width: 1200px;
margin:auto;
}

.intro-image img{
width:100%;
border-radius:8px;
}


/* COLLECTION */

.featured-collection{
padding:100px 8%;
background:#fff;
}

.collection-grid{ 
display:grid; 
grid-template-columns:repeat(3,1fr); 
gap:25px; max-width:1200px; 
margin:auto; 
} 
.collection-item{ 
overflow:hidden; 
}

.collection-item img{
width:100%;
height:auto;
display:block;
transition:.4s;
}

.collection-item:hover img{ 
    transform:scale(1.08); 
}

main{
padding-top:120px;
}

/* RESPONSIVE */
/* TABLET */
@media (max-width: 1024px){

}

/* MOBILE */
@media (max-width: 768px){

}

/* MOBILE PEQUEÑO */
@media (max-width: 480px){

}


/* RESPONSIVE HERO */
@media (max-width:768px){

.hero-title{
font-size:2rem;
}

.hero-subtitle{
font-size:1rem;
}

.hero-landing{
padding-top:110px;
text-align:center;
}

}

/* RESPONSIVE HERO MOBILE PEQUEÑO */
@media (max-width:480px){

.hero-title{
font-size:1.6rem;
}

.hero-subtitle{
font-size:0.9rem;
}

.hero-btn{
padding:10px 20px;
font-size:14px;
}

}