/* HERO */
.regprod-hero{
background:
linear-gradient(
rgba(14,67,131,.65),
rgba(14,67,131,.65)
), url("../../img/denim.jpg") center/cover no-repeat;
padding: 120px 0 90px;
color:#fff;
margin-top: -80px;
}

.regprod-hero h1{
font-size:42px;
font-weight:600;
letter-spacing: 5px;
margin-bottom:10px;
}

.regprod-hero p{
opacity:.9;
}


/* SECTION */
.regprod-section{
padding:120px 0;
background:#f5f6f8;
}


/* CARD */
.regprod-card{
max-width:720px;
margin:auto;
padding:60px;
border-radius:20px;
background:rgba(255,255,255,.9);
backdrop-filter:blur(12px);
box-shadow:0 40px 80px rgba(0,0,0,.15);
text-align:center;
}


/* TITLES */
.regprod-title{
font-size:26px;
margin-bottom:10px;
color:#0e4383;
}

.regprod-subtitle{
color:#666;
margin-bottom:30px;
}


/* INPUT */
.regprod-form .form-control{
padding:14px;
border-radius:10px;
border:1px solid rgba(0,0,0,.1);
margin-bottom:20px;
}







