/* ===== HEADER ===== */
.main-header{
position:fixed;
top:40px; /* debajo de topbar */
left:0;
width:100%;
z-index:2000;
background:transparent;
transition:
background .35s ease,
box-shadow .35s ease,
backdrop-filter .35s ease;
}

/* contenedor interno */
.header-inner{
display:flex;
align-items:center;
justify-content:space-between;
width:100%;
max-width:1400px;
margin:0 auto;
padding:0 20px;
}

.header-inner{
padding:0 50px;
}

/* LOGO */
.logo img{
height:75px;
transition:
height .35s ease,
filter .35s ease;
}

/* NAV */
.main-nav ul{
list-style:none;
display:flex;
gap:2.5rem;
padding:0;
margin:0;
}

.main-nav a{
text-decoration:none;
color:#fff;
font-weight:500;
position:relative;
transition:color .3s ease;
}

/* hover underline */
.main-nav a::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0;
height:1px;
background:#0e4383;
transition:width .3s ease;
}

.main-nav a:hover::after{
width:100%;
}

/* ===== HEADER SCROLL ===== */
.main-header.scrolled{
background:rgba(255,255,255,0.95);
backdrop-filter:blur(10px);
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* links negros */
.main-header.scrolled .main-nav a{
color:#111;
}

/* logo negro */
.main-header.scrolled .logo img{
filter:brightness(0);
height:60px;
}

/* RESPONSIVE */
@media (max-width:768px){

.nav-menu{
display:none;
}

.header-container{
padding:15px 20px;
}

.logo img{
height:40px;
}

}