<!-- HEADER -->
<header class="main-header">

  <div class="container header-inner">

    <div class="logo">
      <a href="index.html">
        <img src="img/logo3.png" alt="British Denim">
      </a>
    </div>

    <nav class="main-nav">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="regiprod.html">Registrar producto</a></li>
        <li><a href="contactenos.html">Contáctenos</a></li>
        <li><a href="perfil.html">Ingresar</a></li>
      </ul>
    </nav>

  </div>

</header>
